:root {

    --bg: #ffffff;
    --text: #222;
    --card: #f4f4f4;
    --primary: #4f46e5;
}

.dark {

    --bg: #121212;
    --text: #ffffff;
    --card: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, sans-serif;

    background: var(--bg);

    color: var(--text);

    transition: 0.3s;
}

header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 20px 8%;

    background: var(--primary);

    color: white;
}

.logo {

    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {

    color: white;
    text-decoration: none;
}

.header-icons {

    display: flex;
    gap: 20px;
    align-items: center;
}

.cart-icon {
    position: relative;
    font-size: 22px;
}

#cartCount {

    position: absolute;

    top: -10px;
    right: -10px;

    background: red;

    color: white;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.hero {

    height: 60vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background:
    linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)),

    url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1200');

    background-size: cover;
    background-position: center;

    color: white;
}

.hero h1 {

    font-size: 50px;
    margin-bottom: 20px;
}

.hero button {

    padding: 14px 25px;

    border: none;

    background: var(--primary);

    color: white;

    border-radius: 8px;

    cursor: pointer;
}

.controls {

    display: flex;

    justify-content: center;

    gap: 20px;

    padding: 30px;

    flex-wrap: wrap;
}

.controls input,
.controls select {

    padding: 12px;

    width: 250px;

    border-radius: 8px;

    border: 1px solid #ccc;
}

.products {

    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px, 1fr));

    gap: 25px;

    padding: 40px 8%;
}

.card {

    background: var(--card);

    border-radius: 15px;

    overflow: hidden;

    transition: 0.3s;

    box-shadow:
    0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {

    transform: translateY(-10px);
}

.card img {

    width: 100%;
    height: 220px;

    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.price {

    color: var(--primary);

    font-size: 20px;

    font-weight: bold;
}

.card button {

    width: 100%;

    padding: 12px;

    border: none;

    background: var(--primary);

    color: white;

    cursor: pointer;

    margin-top: 15px;
}

@media(max-width:768px){

    header{
        flex-direction: column;
        gap: 15px;
    }

    .hero h1{
        font-size: 35px;
    }
}